*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a, button, input{
    border: none;
    outline: none;
    text-decoration: none;
    background: none;
}
.container {
    max-width: 1200px;
    margin: auto;
    width: 90%;
}
.header {
   position: absolute;
   top: 0;
   width: 100vh;
    padding: 20px 0;
    max-width: 1200px;
    margin: auto;
    width: 90%;
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_logo {
    max-width: 65px;
    display: block;
}
.header_logo img{
    width: 100%;
}
.header_links {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 100;

}
.header_link {
    color: white;
}
.main {
    background: rgba(0, 0, 0, 0.278);
    background-image: url(./img/main_back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    
}
.main_title {
    color: white;
margin: auto;
text-align: center;
padding:  0 0 10px 0;
border-bottom: 1px solid #E0883B;
}

.title{
    text-align: center;
    margin: 0 0 50px 0 ;
    font-size: 30px;
    font-weight: 400;
    padding:  0 0 10px 0;
border-bottom: 1px solid #E0883B;
width: fit-content;
margin: auto auto 50px auto;
}
.about{
    padding: 100px 0;
}



.contact {

}
.container {
}
.title {
}
.contact_title {
}
.contact_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.contact_form {
    width: 100%;
    display: flex;
    flex-direction: column;

}
.contact_form_title,.contact_list_title {
    font-size: 26px;
    margin: 0 0 40px 0;
    font-weight: 100;
}
.contact_form_input {
    width: 100%;
    padding: 10px;
    border-bottom: #E0883B 1px solid;
    margin:  0 0 20px 0;
}
.contact_form_submit {
    background: #E0883B;
    padding: 20px;
    width: 70%;
    margin: 40px auto 0 auto;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
.contact_list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact_list_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact_list_item {
    display: flex;
    gap: 15px;
    align-items: center;
}
.contact_list_item_img {
    max-width: 30px;

}
.contact_list_item_link {
    color: black;
}
.contact_list_item_link:hover{
    text-decoration: underline;
}



@media(max-width:769px){
    .contact_container{
        grid-template-columns: auto;
    }
    .header{
        width: 100%;
    }
    .header .container{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

}