*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html {
    scroll-behavior: smooth;
  }
a, button, input{
    border: none;
    outline: none;
    text-decoration: none;
    background: none;
}
.container {
    max-width: 1200px;
    margin: auto;
    width: 90%;
}
.header {
   position: absolute;
   top: 0;
   width: 100vh;
    padding: 20px 0;
    max-width: 1200px;
    margin: auto;
    width: 90%;
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_logo {
    max-width: 65px;
    display: block;
}
.header_logo img{
    width: 100%;
}
.header_links {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 100;

}
.header_link {
    color: white;
}
.main {
    background: rgba(0, 0, 0, 0.278);
    background-image: url(./img/main_back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    
}
.main_title {
    color: white;
    width: 90%;
margin: auto;
text-align: center;
padding:  0 0 10px 0;
border-bottom: 1px solid #E0883B;
}

.title{
    text-align: center;
    margin: 0 0 50px 0 ;
    font-size: 30px;
    font-weight: 400;
    padding:  0 0 10px 0;
border-bottom: 1px solid #E0883B;
width: fit-content;
margin: auto auto 50px auto;
}
.about{
    padding: 100px 0;
}



.contact {
    padding: 100px 0;

}
.container {
}
.title {
}
.contact_title {
}
.contact_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.contact_form {
    width: 100%;
    display: flex;
    flex-direction: column;

}
.contact_form_title,.contact_list_title {
    font-size: 26px;
    margin: 0 0 40px 0;
    font-weight: 100;
}
.contact_form_input {
    width: 100%;
    padding: 10px;
    border-bottom: #E0883B 1px solid;
    margin:  0 0 20px 0;
}
.contact_form_submit {
    background: #E0883B;
    padding: 20px;
    width: 70%;
    margin: 40px auto 0 auto;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
.contact_list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact_list_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact_list_item {
    display: flex;
    gap: 5px 15px;
    align-items: center;

}
.contact_list_item:nth-child(2){
    flex-wrap: wrap;

}

.contact_list_item_img {
    max-width: 30px;

}
.contact_list_item_link {
    color: black;
}
.contact_list_item_link:hover{
    text-decoration: underline;
}







.services {
    /* padding: 60px 0; */

}
.services_wrapper_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.services_partners {
}
.services_partners_subtitle,.services_clients_subtitle ,.services_subtitle{
    font-size: 26px;
    font-weight: 100;
    margin: 0 0 30px 0;
}
.services_description {
    font-size: 12px;
    margin: 0 0 15px 0;
}
.services_subtitle {
}
.services_wrapper {
    list-style: none;

}
.services_clients {
}
.services_clients_subtitle {
}

ol > li{
    padding-left: 20px;
    position: relative;
    margin: 10px;
}
ol > li:before{
    content: '✔';
    position: absolute; top: 0; left: 0;
    color: #E0883B;
}





.contact_disclaimer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contact_disclaimer_title {
    font-size: 24px;
    font-weight: 600;
    color: #E0883B;
}
.contact_disclaimer_num ,.contact_disclaimer_mail{
    color: black;

}
.contact_disclaimer_num:hover,.contact_disclaimer_mail:hover{
    text-decoration: underline;
}


.contact_checkbox{
    display: flex;
    align-items: start;
    gap: 10px;
    font-size: 12px;
    line-height: 10px;
}
.contact_checkbox a{
    color: #E0883B;
}









.footer {
    background: #E0883B;
    padding: 50px 0;
    width: 100%;
}
.footer .container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.footer_logo {
    display: block;
    max-width: 65px;

}
.footer_logo img{
    width: 100%;
}
.footer_wrapper_link {
    display: flex;align-items: center;
    flex-wrap: wrap;
    gap: 10px 20px;
    justify-content: center;
}
.footer_wrapper_link a{
    color: white;
}
.footer_wrapper_link a:hover{
    text-decoration: underline;
}
.footer_disclaimer {
    text-align: center;
    color: white;
    font-size: 12px;
}




.privacy.header{
    width: 100%;
    max-width: none;
    position: relative;
    background: #E0883B;
}
.privacy_pdf{
    height: 90vh;
    padding: 5vh 0;
    /* width: 100%; */

}
.privacy_pdf embed{
    height: 100%;
    width: 100%;
}


@media(max-width:769px){
    .contact_container{
        grid-template-columns: auto;
    }
    .header{
        width: 100%;
    }
    .header .container{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .services_wrapper_container{
        grid-template-columns: auto;

    }

}